.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 90px;
  align-items: center;
}

.main_logo {
  display: flex;
}

.Crystallize {
  font-size: larger;
  font-weight: bold;
}

.header_menu {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.header_menu__item {
  cursor: pointer;
}

.header_profile {
  font-weight: lighter;
}
